<div
  appkm
  role="radiogroup"
  [attr.aria-labelledby]="id"
  class="button-group">
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKmItem
    role="radio"
    class="button button-yes"
    [attr.tabindex]="value === option.YES || value === null ? 0 : -1"
    [attr.aria-checked]="value === option.YES"
    [class.button-pressed]="value === option.YES"
    type="button"
    (click)="active(option.YES)">
    Yes
  </button>
  <button
    appKmItem
    role="radio"
    tabindex="-1"
    class="button button-no"
    [attr.tabindex]="value === option.NO ? 0 : -1"
    [attr.aria-checked]="value === option.NO"
    [class.button-pressed]="value === option.NO"
    type="button"
    (click)="active(option.NO)">No
  </button>
</div>
